services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ft_backend
    ports:
      - "8080:8080"
    volumes:
      - ./data:/data
      - ./certs:/certs
      - maven_cache:/root/.m2
    environment:
      - SPRING_DATASOURCE_URL=jdbc:sqlite:/data/ft_transcendence.db
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - app_network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ft_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
      - ./certs:/app/certs
    working_dir: /app
    command: npm run dev
    restart: unless-stopped
    environment:
      - CHOKIDAR_USEPOLLING=true
      - VITE_API_URL=http://backend:8080/api
    networks:
      - app_network

  sqlite-web:
    image: coleifer/sqlite-web
    platform: linux/amd64
    container_name: ft_sqlite_web
    ports:
      - "8086:8080"
    volumes:
      - ./data:/data
    command: ["sqlite_web", "/data/ft_transcendence.db", "--host", "0.0.0.0", "--port", "8080"]
    restart: unless-stopped
    networks:
      - app_network

volumes:
  frontend_node_modules:
    driver: local
  maven_cache:
    driver: local

networks:
  app_network:
    driver: bridge